body {
    background-image: linear-gradient(-180deg, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
    background-size: cover;
    min-height: 100vh;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.error {
    color: #993333;
}

.file-upload {
    padding-bottom: 2em;
    border-bottom: 1px solid #999;
}

.file-upload__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-upload__input + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #333;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    padding: .5em .5em;
}

.file-upload__input:focus + label,
.file-upload__input + label:hover {
    background-color: #333;
    color:#fff;
}

.file-upload__icon {
    fill: #333;
}
.file-upload__input:focus + label .file-upload__icon,
.file-upload__input + label:hover .file-upload__icon {
    fill: #fff;
}


.file-upload__input + label {
    cursor: pointer;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.file-upload__button {
    height: 3em;
    border-radius: 6px;
    color: #333;
    cursor: pointer;
}

.file-upload__button:hover {
    color: #fff;
    background-color: #333;

}


.file-list {
    padding-top: 2em;
}

.file-list__item {
    display: flex;
    flex-direction: row;
    padding: .5em;
    font-size: 1.25rem;
    align-items: center;
    border-bottom: 1px solid #999;
    font-family: verdana, arial, helvetica;
}

.file-list__item--name {
    flex-grow: 1;
    padding-right: 1em;
}

.file-list__item--size {
    padding-right: 1em;
    font-size: 80%;
}


.file-list__item-actions {
    display: flex;
    flex-direction: row;
}

.file-list__item-action {
    padding: .25em;
    margin: 0 .25em;
    border: solid 1px #333;
    border-radius: 6px;
    width: 2em;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.file-list__item-action:hover {
    background-color: #333;
    color: #fff;
}


.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
